<ng-container *ngIf="isLoggedIn; else logoutView">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Sara Dashboard</h1>
    <!-- Spacer to push content to the right -->
    <span class="spacer"></span>

    <!-- Language Selector -->
    <button mat-button [matMenuTriggerFor]="languageMenu" aria-label="Select Language">
      <mat-icon>language</mat-icon>
      <span>Language</span>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item>English</button>
      <button mat-menu-item>Español</button>
      <button mat-menu-item>Français</button>
    </mat-menu>

    <!-- Settings Button -->
    <button mat-icon-button aria-label="Settings">
      <mat-icon>settings</mat-icon>
    </button>

    <!-- Profile Menu -->
    <button mat-button [matMenuTriggerFor]="profileMenu" aria-label="User Profile">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
      [opened]="isMobile ? 'false' : 'true'">
      <mat-nav-list>
        @for (link of links; track $index) {
        <a mat-list-item [routerLink]="[link.router]">
          <span class="entry">
            <mat-icon>{{ link.icon }}</mat-icon>
            <span *ngIf="!isCollapsed">{{ link.text }}</span>
          </span>
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container class="back-navigation span">
        <app-back-navigation></app-back-navigation>
      </ng-container>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #logoutView>
  <app-login (login)="loginSubmit()"></app-login>
</ng-template>