.expanded {
  width: 250px;
}

.span {
  display: inline-block;
  width: 100%;
  background: white;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 70px;
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}

mat-sidenav-content {
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}


.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .app-title {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .spacer {
    flex: 1;
  }

  button {
    margin-right: 8px;

    mat-icon {
      margin-right: 4px;
    }
  }
}